# MongoDB
MONGODB_URI=mongodb://localhost:27017/document-verify

# Server
PORT=5000
NODE_ENV=development

# JWT
JWT_SECRET=tu_secreto_super_seguro_aqui_cambiar_en_produccion

# BTTChain
BTTC_RPC_URL=https://rpc.bt.io
BTTC_CONTRACT_ADDRESS=
BTTC_PRIVATE_KEY=

# Subscription
MONTHLY_SUBSCRIPTION_BTT=1000
